.user-details__section {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 24px 0 #0001;
  margin: 32px auto 0 auto;
  max-width: 1100px;
  padding: 32px 36px 24px 36px;
}

.user-details__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 18px 36px;
  margin-bottom: 18px;
}

.user-details__section h4 {
  color: #213f7d;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 24px 0 12px 0;
}

.user-details__grid span {
  color: #545f7d;
  font-size: 0.93rem;
  font-weight: 500;
}

.user-details__grid p {
  color: #213f7d;
  font-size: 1rem;
  margin: 4px 0 0 0;
  font-weight: 500;
}

.user-details__section hr {
  border: none;
  border-top: 1px solid #e4eaf1;
  margin: 18px 0;
}